<div>
    <div style="background-image: 
url('https://architizer-prod.imgix.net/media/1416841378675dlt05_7957b_rvz.jpg');
background-repeat: no-repeat; background-size: cover;">
        <div style="min-height: 100vh;
    text-shadow: 2px 2px black; 
    text-align: right;" class="container pt-3">
            <p class="display-1 text-white pt-5">Deloitte Blogs App</p>
            <p>Welcome to Deloitte Angular application 6 March 2023</p>
            <a class="display-5 text-primary" routerLink="/bloglist"><span>Read blog
                    posts...</span></a>

        </div>
    </div>
</div>